* {
    box-sizing: border-box;
}

/* video {
    object-fit: cover;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  } */

body {
    background: url("https://www.hackingwithswift.com/uploads/articles/snow-2.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    font-size: 10vmin;
    font-family: 'Fascinate', cursive;
    letter-spacing: 1vmin;
    position: relative;
    color: #7bdde0;
}

#moves {
    font-size: 2.5vmin;
    font-family: 'Akaya Telivigala', cursive;
    color: #cce5e6;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1vmin;
}

#img {
    background-size: cover;
    background-position: center;
    height: 50vmin;
    width: 30vmin;
    margin: 4vmin;
    border: 0.1vmin solid black;
}

#word {
    font-size: 5vmin;
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
    letter-spacing: 2.5vmin;
    margin: -3vmin 0 3vmin 0;
    padding-left: 4vmin;
}

#alphabet-board {
    text-align: center;
}

#alphabet-board > * {
    font-size: 3vmin;
    font-family: 'Akaya Telivigala', cursive;
    height: 5vmin;
    width: 5vmin;
    margin: 2vmin;
    background-color: slategray;
    border: 1;
    border-radius: 50%;
}

#alphabet-board > *:hover {
    cursor: pointer;
    /* transform: scale(0.7);
    transition: all 0.1 ease-in;
    background-color: white;
    color: slategray; */
}

#reset {
    font-size: 1.5vmin;
    font-family: 'Fascinate', cursive;
    padding: 0.5vmin 4vmin 0.5vmin 4vmin;
    margin: 3vmin 0 0 0;
    background-color: bisque;
    border-color: 0.2vmin solid bisque;
}

#reset:hover {
    transform: scale(1.2);
    cursor: pointer;
    background-color: white;
}